@import "tailwindcss";

@theme {
  --color-primary: #B9FF66;
  --color-secondary: #67B2FF;
  --color-accent: #FF6D6D;
  --color-whital: #f7f7f7;
  --color-dark: #191A23;

}

.buttons::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: -100%;
  background-color: #B9FF66;
}

.card:hover .arrow {
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
}

